.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.inputContainer {
  margin-left: 10px;
  margin-top: 10px;
  width: 100%; /* เพิ่มคุณสมบัติ width เพื่อให้ input ครอบคลุมพื้นที่ทั้งแนวนอน */
}


.inputnumber {
  margin-left: 10px;
  margin-top: 10px;
  width: 200px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.confirmButton {
  margin-left: 10px; 
}


.result {
  white-space: pre;
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

