.pokemon-card {
  text-align: left;
  background-color: #7dff5d;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto; /* เพิ่ม auto เพื่อจัดให้ pokemon-card อยู่กึ่งกลาง */
  width: 300px;
  position: relative; /* เพิ่ม position: relative เพื่อให้สามารถใช้ position: absolute ได้ใน children */
}

button.api.button {
  margin-bottom: 20px; /* เพิ่ม margin ด้านล่างของปุ่ม */
  background-color: blue;
  color: white;
  border: 2px solid rgb(73, 197, 255);
}

.pokemon-card img {
  background-color: aliceblue;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.container {
  text-align: center;
}

h1 {
  color: #333;
}
